* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: white;
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.win-loss-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  background: purple;
  border-radius: 8px;
  color: #cee0f1;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  color: rgb(4, 2, 2);

}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}



.results {
  width: 30vw;
  height: 400px;
}





.large-font {
  font-size: 2.5em;
  text-align:center;
  top: px;
}

.left-link {
  font-size: 1.25em;
  text-align:left;
  position: absolute; 
  top: 25px;
  left: 20px;
  line-height: 2px;
}
.counter-here {
  font-size: 1.25em;
  text-align:right;
  position: absolute; 
  top: 25px;
  right:50px;
  line-height: 2px;
}

.timer-count {
  font-size: 1.25em;
  text-align:right;
  position: absolute; 
  top: 25px;
  right: 20px;
  line-height: 2px;
}
.timer {
  height: 240px;
  padding: 10px;

  color: rgb(4, 2, 2);
  text-align: right;
  top: 5px;

}

.timer-text {
  padding: 55px;
  text-align: right;
}
